.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    background-color: black;
}

.logo {
    color: white;
    font-size: large;
}

.logo img {
    max-height: 60px;
    max-width: 100%;

}

.nav-list {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.nav-list>li {
    list-style: none;
    color: white;
}

.hamburger {
    display: none;
}

@media only screen and (max-width: 800px) {
    .navbar {
        position: relative;
        display: block;
    }

    .nav-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: xx-large;
        align-items: center;
        gap: 10px;
        padding: 20px;
        height: 100vh;
    }

    .hide-nav-list {
        display: none;
    }

    .hamburger {
        display: block;
        position: absolute;
        right: 20px;
        top: 10px;
    }
}