.footer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    background-color: black;
    color: white;
}

.footer-logos {
    display: flex;
    gap: 20px;
    justify-content: center;
    color: white;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    color: #348F50;
    flex-wrap: wrap;
}

.footer-links>li {
    list-style: none;
}

.footer-programs {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: white;
}

.footer-programs div {
    margin: 10px;
}

.footer-programs h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #348F50;
}

.footer-programs ul {
    padding: 0;
    list-style-type: none;
}

.footer-programs li {
    width: fit-content;
    margin: 5px 0;
}

.flinklist {
    text-decoration: none;
    color: white;
}

.flinklist:hover {
    cursor: pointer;
}

.flinklist>li:hover {
    border-bottom: 1px solid white;
}

@media only screen and (max-width: 800px) {
    .footer {
        padding: 20px;
    }

    .footer-logos,
    .footer-links,
    .footer-programs {
        display: block;
        text-align: center;
    }

    .footer-programs div {
        margin: 20px auto;
    }
}